body {
	background-color: #e9ebee !important;
	font-family: Verdana,Geneva,sans-serif !important;
}

#carouselPresentation .d-block {
	width : 480px;
}

#carouselPresentation .carousel-control-prev-icon, #carouselPresentation .carousel-control-next-icon {
	background-color: black;
}	

#carouselPresentation .carousel-item img {
	margin-left: 60px;
}

#carouselPresentation {
	background-color: lightslategrey;
	padding-bottom: 20px;
	border-radius: 20px;
}

#carouselPresentation .carousel-item p {
	background-color: darkseagreen;
	border-radius: 7px;
	margin-top: 10px;
}

nav {
	margin-bottom: 20px;
}

#employesSW {
	font-size: 18px;
	margin-bottom: 40px;
}

#solde {
	color: orange;
}

#contact {
	padding-left: 10px;
	border-left: 2px solid #009ae3;
}

#categorie img {
	width: 180px;
	height: 180px;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 5px #656565;
	-webkit-box-shadow: 10px 10px 5px #656565;
	-o-box-shadow: 10px 10px 5px #656565;
	box-shadow: 10px 10px 5px #656565;
	margin-bottom : 40px;
}

#titre-categorie {
	margin-bottom: 40px;
}